# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=khaosatvmu@123
POSTGRES_DB=khaosatvmu
POSTGRES_PORT=5432

# Backend Settings
BACKEND_PORT=5000
ASPNETCORE_ENVIRONMENT=Development

# Frontend Settings
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:5000
