--
-- PostgreSQL database dump
--

\restrict OyI7cjQpVzHO43kWxchXnhG3BTGdjQ4eYy34t3bTodNdskqobhgsFo5uv0m4hlh

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."UserProfiles" DROP CONSTRAINT IF EXISTS "FK_UserProfiles_Users_UserId";
ALTER TABLE IF EXISTS ONLY public."UserProfiles" DROP CONSTRAINT IF EXISTS "FK_UserProfiles_Roles_RoleId";
ALTER TABLE IF EXISTS ONLY public."SurveyTemplates" DROP CONSTRAINT IF EXISTS "FK_SurveyTemplates_AnswerScales_AnswerScaleId";
ALTER TABLE IF EXISTS ONLY public."SurveyResponses" DROP CONSTRAINT IF EXISTS "FK_SurveyResponses_CourseSectionSurveys_CourseSectionSurveyId";
ALTER TABLE IF EXISTS ONLY public."SurveyResponseAnswers" DROP CONSTRAINT IF EXISTS "FK_SurveyResponseAnswers_SurveyResponses_ResponseId";
ALTER TABLE IF EXISTS ONLY public."SurveyResponseAnswers" DROP CONSTRAINT IF EXISTS "FK_SurveyResponseAnswers_SurveyQuestions_QuestionId";
ALTER TABLE IF EXISTS ONLY public."SurveyQuestions" DROP CONSTRAINT IF EXISTS "FK_SurveyQuestions_SurveyTemplates_SurveyTemplateId";
ALTER TABLE IF EXISTS ONLY public."Semesters" DROP CONSTRAINT IF EXISTS "FK_Semesters_AcademicYears_AcademicYearId";
ALTER TABLE IF EXISTS ONLY public."SemesterSurveys" DROP CONSTRAINT IF EXISTS "FK_SemesterSurveys_SurveyTemplates_SurveyTemplateId";
ALTER TABLE IF EXISTS ONLY public."SemesterSurveys" DROP CONSTRAINT IF EXISTS "FK_SemesterSurveys_Semesters_SemesterId";
ALTER TABLE IF EXISTS ONLY public."RolePermissions" DROP CONSTRAINT IF EXISTS "FK_RolePermissions_Roles_RoleId";
ALTER TABLE IF EXISTS ONLY public."RolePermissions" DROP CONSTRAINT IF EXISTS "FK_RolePermissions_Permissions_PermissionId";
ALTER TABLE IF EXISTS ONLY public."Majors" DROP CONSTRAINT IF EXISTS "FK_Majors_Faculties_FacultyId";
ALTER TABLE IF EXISTS ONLY public."Lecturers" DROP CONSTRAINT IF EXISTS "FK_Lecturers_Faculties_FacultyId";
ALTER TABLE IF EXISTS ONLY public."Lecturers" DROP CONSTRAINT IF EXISTS "FK_Lecturers_Departments_DepartmentId";
ALTER TABLE IF EXISTS ONLY public."Departments" DROP CONSTRAINT IF EXISTS "FK_Departments_Faculties_FacultyId";
ALTER TABLE IF EXISTS ONLY public."CurriculumCourses" DROP CONSTRAINT IF EXISTS "FK_CurriculumCourses_Curricula_CurriculumId";
ALTER TABLE IF EXISTS ONLY public."CurriculumCourses" DROP CONSTRAINT IF EXISTS "FK_CurriculumCourses_Courses_CourseId";
ALTER TABLE IF EXISTS ONLY public."Curricula" DROP CONSTRAINT IF EXISTS "FK_Curricula_Majors_MajorId";
ALTER TABLE IF EXISTS ONLY public."Courses" DROP CONSTRAINT IF EXISTS "FK_Courses_Faculties_FacultyId";
ALTER TABLE IF EXISTS ONLY public."Courses" DROP CONSTRAINT IF EXISTS "FK_Courses_Departments_DepartmentId";
ALTER TABLE IF EXISTS ONLY public."Courses" DROP CONSTRAINT IF EXISTS "FK_Courses_Courses_PrerequisiteCourseId";
ALTER TABLE IF EXISTS ONLY public."CourseSections" DROP CONSTRAINT IF EXISTS "FK_CourseSections_Semesters_SemesterId";
ALTER TABLE IF EXISTS ONLY public."CourseSections" DROP CONSTRAINT IF EXISTS "FK_CourseSections_Lecturers_LecturerId";
ALTER TABLE IF EXISTS ONLY public."CourseSections" DROP CONSTRAINT IF EXISTS "FK_CourseSections_Courses_CourseId";
ALTER TABLE IF EXISTS ONLY public."CourseSectionSurveys" DROP CONSTRAINT IF EXISTS "FK_CourseSectionSurveys_SemesterSurveys_SemesterSurveyId";
ALTER TABLE IF EXISTS ONLY public."CourseSectionSurveys" DROP CONSTRAINT IF EXISTS "FK_CourseSectionSurveys_CourseSections_CourseSectionId";
ALTER TABLE IF EXISTS ONLY public."AuthSessions" DROP CONSTRAINT IF EXISTS "FK_AuthSessions_Users_UserId";
ALTER TABLE IF EXISTS ONLY public."AuthSessions" DROP CONSTRAINT IF EXISTS "FK_AuthSessions_UserProfiles_ActiveProfileId";
ALTER TABLE IF EXISTS ONLY public."AuthAuditLogs" DROP CONSTRAINT IF EXISTS "FK_AuthAuditLogs_Users_UserId";
ALTER TABLE IF EXISTS ONLY public."AuthAuditLogs" DROP CONSTRAINT IF EXISTS "FK_AuthAuditLogs_UserProfiles_ProfileId";
ALTER TABLE IF EXISTS ONLY public."AnswerScaleOptions" DROP CONSTRAINT IF EXISTS "FK_AnswerScaleOptions_AnswerScales_AnswerScaleId";
DROP TRIGGER IF EXISTS trg_limit_survey_questions ON public."SurveyQuestions";
DROP INDEX IF EXISTS public."UX_UserProfiles_UserId_ActiveDefault";
DROP INDEX IF EXISTS public."IX_Users_GoogleSubject";
DROP INDEX IF EXISTS public."IX_Users_Email";
DROP INDEX IF EXISTS public."IX_UserProfiles_UserId_RoleId_OrganizationUnitCode";
DROP INDEX IF EXISTS public."IX_UserProfiles_UserId_IsActive";
DROP INDEX IF EXISTS public."IX_UserProfiles_RoleId";
DROP INDEX IF EXISTS public."IX_UserProfiles_ProfileCode";
DROP INDEX IF EXISTS public."IX_SurveyTemplates_AnswerScaleId";
DROP INDEX IF EXISTS public."IX_SurveyResponses_CourseSectionSurveyId";
DROP INDEX IF EXISTS public."IX_SurveyResponseAnswers_QuestionId";
DROP INDEX IF EXISTS public."IX_SurveyQuestions_SurveyTemplateId";
DROP INDEX IF EXISTS public."IX_Semesters_AcademicYearId_SemesterName";
DROP INDEX IF EXISTS public."IX_SemesterSurveys_SurveyTemplateId";
DROP INDEX IF EXISTS public."IX_SemesterSurveys_SemesterId";
DROP INDEX IF EXISTS public."IX_Roles_Code";
DROP INDEX IF EXISTS public."IX_RolePermissions_RoleId_PermissionId";
DROP INDEX IF EXISTS public."IX_RolePermissions_PermissionId";
DROP INDEX IF EXISTS public."IX_Permissions_Code";
DROP INDEX IF EXISTS public."IX_Majors_FacultyId";
DROP INDEX IF EXISTS public."IX_Lecturers_FacultyId";
DROP INDEX IF EXISTS public."IX_Lecturers_Email";
DROP INDEX IF EXISTS public."IX_Lecturers_DepartmentId";
DROP INDEX IF EXISTS public."IX_Faculties_FacultyName";
DROP INDEX IF EXISTS public."IX_Departments_FacultyId";
DROP INDEX IF EXISTS public."IX_CurriculumCourses_CurriculumId_CourseId";
DROP INDEX IF EXISTS public."IX_CurriculumCourses_CourseId";
DROP INDEX IF EXISTS public."IX_Curricula_MajorId";
DROP INDEX IF EXISTS public."IX_Courses_PrerequisiteCourseId";
DROP INDEX IF EXISTS public."IX_Courses_FacultyId";
DROP INDEX IF EXISTS public."IX_Courses_DepartmentId";
DROP INDEX IF EXISTS public."IX_Courses_CourseCode";
DROP INDEX IF EXISTS public."IX_CourseSections_SemesterId";
DROP INDEX IF EXISTS public."IX_CourseSections_LecturerId";
DROP INDEX IF EXISTS public."IX_CourseSections_CourseId_SemesterId_SectionName";
DROP INDEX IF EXISTS public."IX_CourseSectionSurveys_SemesterSurveyId_CourseSectionId";
DROP INDEX IF EXISTS public."IX_CourseSectionSurveys_LinkToken";
DROP INDEX IF EXISTS public."IX_CourseSectionSurveys_CourseSectionId";
DROP INDEX IF EXISTS public."IX_AuthSessions_UserId_RevokedAt_ExpiresAt";
DROP INDEX IF EXISTS public."IX_AuthSessions_ActiveProfileId_RevokedAt";
DROP INDEX IF EXISTS public."IX_AuthAuditLogs_UserId_CreatedAt";
DROP INDEX IF EXISTS public."IX_AuthAuditLogs_ProfileId";
DROP INDEX IF EXISTS public."IX_AuthAuditLogs_Event_CreatedAt";
DROP INDEX IF EXISTS public."IX_AnswerScaleOptions_AnswerScaleId_Value";
DROP INDEX IF EXISTS public."IX_AcademicYears_AcademicYearName";
ALTER TABLE IF EXISTS ONLY public."__EFMigrationsHistory" DROP CONSTRAINT IF EXISTS "PK___EFMigrationsHistory";
ALTER TABLE IF EXISTS ONLY public."Users" DROP CONSTRAINT IF EXISTS "PK_Users";
ALTER TABLE IF EXISTS ONLY public."UserProfiles" DROP CONSTRAINT IF EXISTS "PK_UserProfiles";
ALTER TABLE IF EXISTS ONLY public."SurveyTemplates" DROP CONSTRAINT IF EXISTS "PK_SurveyTemplates";
ALTER TABLE IF EXISTS ONLY public."SurveyResponses" DROP CONSTRAINT IF EXISTS "PK_SurveyResponses";
ALTER TABLE IF EXISTS ONLY public."SurveyResponseAnswers" DROP CONSTRAINT IF EXISTS "PK_SurveyResponseAnswers";
ALTER TABLE IF EXISTS ONLY public."SurveyQuestions" DROP CONSTRAINT IF EXISTS "PK_SurveyQuestions";
ALTER TABLE IF EXISTS ONLY public."Semesters" DROP CONSTRAINT IF EXISTS "PK_Semesters";
ALTER TABLE IF EXISTS ONLY public."SemesterSurveys" DROP CONSTRAINT IF EXISTS "PK_SemesterSurveys";
ALTER TABLE IF EXISTS ONLY public."Roles" DROP CONSTRAINT IF EXISTS "PK_Roles";
ALTER TABLE IF EXISTS ONLY public."RolePermissions" DROP CONSTRAINT IF EXISTS "PK_RolePermissions";
ALTER TABLE IF EXISTS ONLY public."Permissions" DROP CONSTRAINT IF EXISTS "PK_Permissions";
ALTER TABLE IF EXISTS ONLY public."Majors" DROP CONSTRAINT IF EXISTS "PK_Majors";
ALTER TABLE IF EXISTS ONLY public."Lecturers" DROP CONSTRAINT IF EXISTS "PK_Lecturers";
ALTER TABLE IF EXISTS ONLY public."Faculties" DROP CONSTRAINT IF EXISTS "PK_Faculties";
ALTER TABLE IF EXISTS ONLY public."Departments" DROP CONSTRAINT IF EXISTS "PK_Departments";
ALTER TABLE IF EXISTS ONLY public."CurriculumCourses" DROP CONSTRAINT IF EXISTS "PK_CurriculumCourses";
ALTER TABLE IF EXISTS ONLY public."Curricula" DROP CONSTRAINT IF EXISTS "PK_Curricula";
ALTER TABLE IF EXISTS ONLY public."Courses" DROP CONSTRAINT IF EXISTS "PK_Courses";
ALTER TABLE IF EXISTS ONLY public."CourseSections" DROP CONSTRAINT IF EXISTS "PK_CourseSections";
ALTER TABLE IF EXISTS ONLY public."CourseSectionSurveys" DROP CONSTRAINT IF EXISTS "PK_CourseSectionSurveys";
ALTER TABLE IF EXISTS ONLY public."AuthSessions" DROP CONSTRAINT IF EXISTS "PK_AuthSessions";
ALTER TABLE IF EXISTS ONLY public."AuthAuditLogs" DROP CONSTRAINT IF EXISTS "PK_AuthAuditLogs";
ALTER TABLE IF EXISTS ONLY public."AnswerScales" DROP CONSTRAINT IF EXISTS "PK_AnswerScales";
ALTER TABLE IF EXISTS ONLY public."AnswerScaleOptions" DROP CONSTRAINT IF EXISTS "PK_AnswerScaleOptions";
ALTER TABLE IF EXISTS ONLY public."AcademicYears" DROP CONSTRAINT IF EXISTS "PK_AcademicYears";
DROP TABLE IF EXISTS public."__EFMigrationsHistory";
DROP TABLE IF EXISTS public."Users";
DROP TABLE IF EXISTS public."UserProfiles";
DROP TABLE IF EXISTS public."SurveyTemplates";
DROP TABLE IF EXISTS public."SurveyResponses";
DROP TABLE IF EXISTS public."SurveyResponseAnswers";
DROP TABLE IF EXISTS public."SurveyQuestions";
DROP TABLE IF EXISTS public."Semesters";
DROP TABLE IF EXISTS public."SemesterSurveys";
DROP TABLE IF EXISTS public."Roles";
DROP TABLE IF EXISTS public."RolePermissions";
DROP TABLE IF EXISTS public."Permissions";
DROP TABLE IF EXISTS public."Majors";
DROP TABLE IF EXISTS public."Lecturers";
DROP TABLE IF EXISTS public."Faculties";
DROP TABLE IF EXISTS public."Departments";
DROP TABLE IF EXISTS public."CurriculumCourses";
DROP TABLE IF EXISTS public."Curricula";
DROP TABLE IF EXISTS public."Courses";
DROP TABLE IF EXISTS public."CourseSections";
DROP TABLE IF EXISTS public."CourseSectionSurveys";
DROP TABLE IF EXISTS public."AuthSessions";
DROP TABLE IF EXISTS public."AuthAuditLogs";
DROP TABLE IF EXISTS public."AnswerScales";
DROP TABLE IF EXISTS public."AnswerScaleOptions";
DROP TABLE IF EXISTS public."AcademicYears";
DROP FUNCTION IF EXISTS public.fn_limit_survey_questions();
--
-- Name: fn_limit_survey_questions(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_limit_survey_questions() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF (SELECT COUNT(*) FROM public."SurveyQuestions"

        WHERE "SurveyTemplateId" = NEW."SurveyTemplateId") >= 30 THEN

        RAISE EXCEPTION 'A survey template can have at most 30 questions';

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_limit_survey_questions() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AcademicYears; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AcademicYears" (
    "AcademicYearId" integer NOT NULL,
    "AcademicYearName" text NOT NULL,
    "StartDate" date NOT NULL,
    "EndDate" date NOT NULL
);


ALTER TABLE public."AcademicYears" OWNER TO postgres;

--
-- Name: AcademicYears_AcademicYearId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AcademicYears" ALTER COLUMN "AcademicYearId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AcademicYears_AcademicYearId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AnswerScaleOptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AnswerScaleOptions" (
    "AnswerScaleOptionId" integer NOT NULL,
    "AnswerScaleId" integer NOT NULL,
    "Value" integer NOT NULL,
    "DisplayText" text NOT NULL,
    CONSTRAINT "CK_AnswerScaleOptions_Value" CHECK ((("Value" >= 1) AND ("Value" <= 5)))
);


ALTER TABLE public."AnswerScaleOptions" OWNER TO postgres;

--
-- Name: AnswerScaleOptions_AnswerScaleOptionId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AnswerScaleOptions" ALTER COLUMN "AnswerScaleOptionId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AnswerScaleOptions_AnswerScaleOptionId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AnswerScales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AnswerScales" (
    "AnswerScaleId" integer NOT NULL,
    "AnswerScaleName" text NOT NULL
);


ALTER TABLE public."AnswerScales" OWNER TO postgres;

--
-- Name: AnswerScales_AnswerScaleId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AnswerScales" ALTER COLUMN "AnswerScaleId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AnswerScales_AnswerScaleId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AuthAuditLogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuthAuditLogs" (
    "Id" uuid NOT NULL,
    "UserId" uuid,
    "ProfileId" uuid,
    "Email" character varying(320),
    "Event" character varying(100) NOT NULL,
    "IpAddress" character varying(64),
    "UserAgent" character varying(1000),
    "Metadata" text,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."AuthAuditLogs" OWNER TO postgres;

--
-- Name: AuthSessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuthSessions" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "ActiveProfileId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ExpiresAt" timestamp with time zone NOT NULL,
    "RevokedAt" timestamp with time zone,
    "RevokedReason" character varying(200)
);


ALTER TABLE public."AuthSessions" OWNER TO postgres;

--
-- Name: CourseSectionSurveys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseSectionSurveys" (
    "CourseSectionSurveyId" integer NOT NULL,
    "SemesterSurveyId" integer NOT NULL,
    "CourseSectionId" integer NOT NULL,
    "LinkToken" text DEFAULT (gen_random_uuid())::text NOT NULL,
    "StartTime" timestamp with time zone NOT NULL,
    "EndTime" timestamp with time zone NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "CK_CourseSectionSurveys_TimeRange" CHECK (("EndTime" > "StartTime"))
);


ALTER TABLE public."CourseSectionSurveys" OWNER TO postgres;

--
-- Name: CourseSectionSurveys_CourseSectionSurveyId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."CourseSectionSurveys" ALTER COLUMN "CourseSectionSurveyId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CourseSectionSurveys_CourseSectionSurveyId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: CourseSections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseSections" (
    "CourseSectionId" integer NOT NULL,
    "CourseId" integer NOT NULL,
    "SemesterId" integer NOT NULL,
    "SectionName" text NOT NULL,
    "ClassSize" integer NOT NULL,
    "LecturerId" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."CourseSections" OWNER TO postgres;

--
-- Name: CourseSections_CourseSectionId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."CourseSections" ALTER COLUMN "CourseSectionId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CourseSections_CourseSectionId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Courses" (
    "CourseId" integer NOT NULL,
    "CourseCode" text NOT NULL,
    "CourseName" text NOT NULL,
    "Credits" integer NOT NULL,
    "CourseType" text DEFAULT ''::text NOT NULL,
    "DepartmentId" integer,
    "FacultyId" integer,
    "PrerequisiteCourseId" integer
);


ALTER TABLE public."Courses" OWNER TO postgres;

--
-- Name: Courses_CourseId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Courses" ALTER COLUMN "CourseId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Courses_CourseId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Curricula; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Curricula" (
    "CurriculumId" integer NOT NULL,
    "MajorId" integer NOT NULL,
    "TotalCredits" integer NOT NULL,
    "RequiredCredits" integer NOT NULL,
    "MinElectiveCredits" integer NOT NULL
);


ALTER TABLE public."Curricula" OWNER TO postgres;

--
-- Name: Curricula_CurriculumId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Curricula" ALTER COLUMN "CurriculumId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Curricula_CurriculumId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: CurriculumCourses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CurriculumCourses" (
    "Id" integer NOT NULL,
    "CurriculumId" integer NOT NULL,
    "CourseId" integer NOT NULL,
    "SemesterOrder" integer NOT NULL
);


ALTER TABLE public."CurriculumCourses" OWNER TO postgres;

--
-- Name: CurriculumCourses_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."CurriculumCourses" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CurriculumCourses_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Departments" (
    "DepartmentId" integer NOT NULL,
    "DepartmentName" text NOT NULL,
    "FacultyId" integer
);


ALTER TABLE public."Departments" OWNER TO postgres;

--
-- Name: Departments_DepartmentId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Departments" ALTER COLUMN "DepartmentId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Departments_DepartmentId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Faculties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Faculties" (
    "FacultyId" integer NOT NULL,
    "FacultyName" text NOT NULL
);


ALTER TABLE public."Faculties" OWNER TO postgres;

--
-- Name: Faculties_FacultyId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Faculties" ALTER COLUMN "FacultyId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Faculties_FacultyId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Lecturers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Lecturers" (
    "LecturerId" integer NOT NULL,
    "FullName" text NOT NULL,
    "DepartmentId" integer,
    "FacultyId" integer,
    "Email" text,
    "PhoneNumber" text
);


ALTER TABLE public."Lecturers" OWNER TO postgres;

--
-- Name: Lecturers_LecturerId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Lecturers" ALTER COLUMN "LecturerId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Lecturers_LecturerId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Majors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Majors" (
    "MajorId" integer NOT NULL,
    "MajorName" text NOT NULL,
    "FacultyId" integer NOT NULL
);


ALTER TABLE public."Majors" OWNER TO postgres;

--
-- Name: Majors_MajorId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Majors" ALTER COLUMN "MajorId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Majors_MajorId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Permissions" (
    "Id" uuid NOT NULL,
    "Code" character varying(150) NOT NULL,
    "Name" character varying(200) NOT NULL,
    "Description" character varying(1000)
);


ALTER TABLE public."Permissions" OWNER TO postgres;

--
-- Name: RolePermissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RolePermissions" (
    "Id" uuid NOT NULL,
    "RoleId" uuid NOT NULL,
    "PermissionId" uuid NOT NULL,
    "IsGranted" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."RolePermissions" OWNER TO postgres;

--
-- Name: Roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Roles" (
    "Id" uuid NOT NULL,
    "Code" character varying(100) NOT NULL,
    "Name" character varying(200) NOT NULL,
    "Description" character varying(1000),
    "IsSystem" boolean NOT NULL
);


ALTER TABLE public."Roles" OWNER TO postgres;

--
-- Name: SemesterSurveys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SemesterSurveys" (
    "SemesterSurveyId" integer NOT NULL,
    "SemesterId" integer NOT NULL,
    "SurveyTemplateId" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."SemesterSurveys" OWNER TO postgres;

--
-- Name: SemesterSurveys_SemesterSurveyId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."SemesterSurveys" ALTER COLUMN "SemesterSurveyId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."SemesterSurveys_SemesterSurveyId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Semesters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Semesters" (
    "SemesterId" integer NOT NULL,
    "SemesterName" text NOT NULL,
    "AcademicYearId" integer NOT NULL
);


ALTER TABLE public."Semesters" OWNER TO postgres;

--
-- Name: Semesters_SemesterId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Semesters" ALTER COLUMN "SemesterId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Semesters_SemesterId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: SurveyQuestions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SurveyQuestions" (
    "QuestionId" integer NOT NULL,
    "SurveyTemplateId" integer NOT NULL,
    "QuestionText" text NOT NULL
);


ALTER TABLE public."SurveyQuestions" OWNER TO postgres;

--
-- Name: SurveyQuestions_QuestionId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."SurveyQuestions" ALTER COLUMN "QuestionId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."SurveyQuestions_QuestionId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: SurveyResponseAnswers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SurveyResponseAnswers" (
    "ResponseId" integer NOT NULL,
    "QuestionId" integer NOT NULL,
    "SelectedValue" integer NOT NULL,
    CONSTRAINT "CK_SurveyResponseAnswers_SelectedValue" CHECK ((("SelectedValue" >= 1) AND ("SelectedValue" <= 5)))
);


ALTER TABLE public."SurveyResponseAnswers" OWNER TO postgres;

--
-- Name: SurveyResponses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SurveyResponses" (
    "ResponseId" integer NOT NULL,
    "CourseSectionSurveyId" integer NOT NULL,
    "AdditionalComments" text,
    "Score" numeric(4,2) NOT NULL,
    "SubmittedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."SurveyResponses" OWNER TO postgres;

--
-- Name: SurveyResponses_ResponseId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."SurveyResponses" ALTER COLUMN "ResponseId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."SurveyResponses_ResponseId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: SurveyTemplates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SurveyTemplates" (
    "SurveyTemplateId" integer NOT NULL,
    "TemplateName" text NOT NULL,
    "AnswerScaleId" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."SurveyTemplates" OWNER TO postgres;

--
-- Name: SurveyTemplates_SurveyTemplateId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."SurveyTemplates" ALTER COLUMN "SurveyTemplateId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."SurveyTemplates_SurveyTemplateId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: UserProfiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserProfiles" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "RoleId" uuid NOT NULL,
    "ProfileName" character varying(200) NOT NULL,
    "ProfileCode" character varying(100) NOT NULL,
    "OrganizationUnitCode" character varying(100),
    "OrganizationUnitName" character varying(200),
    "IsActive" boolean NOT NULL,
    "IsDefault" boolean NOT NULL,
    "LastSelectedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."UserProfiles" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" uuid NOT NULL,
    "GoogleSubject" character varying(255),
    "Email" character varying(320) NOT NULL,
    "DisplayName" character varying(200),
    "AvatarUrl" character varying(2048),
    "IsActive" boolean NOT NULL,
    "FirstLoginAt" timestamp with time zone,
    "LastLoginAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: AcademicYears; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AcademicYears" ("AcademicYearId", "AcademicYearName", "StartDate", "EndDate") FROM stdin;
1	2025-2026	2025-07-25	2026-07-05
\.


--
-- Data for Name: AnswerScaleOptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AnswerScaleOptions" ("AnswerScaleOptionId", "AnswerScaleId", "Value", "DisplayText") FROM stdin;
1	1	1	R???t kh??ng h??i l??ng
2	1	2	Kh??ng h??i l??ng
3	1	3	B??nh th?????ng
4	1	4	H??i l??ng
5	1	5	R???t h??i l??ng
\.


--
-- Data for Name: AnswerScales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AnswerScales" ("AnswerScaleId", "AnswerScaleName") FROM stdin;
1	M???c ????? h??i l??ng
\.


--
-- Data for Name: AuthAuditLogs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AuthSessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CourseSectionSurveys; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CourseSections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Curricula; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Curricula" ("CurriculumId", "MajorId", "TotalCredits", "RequiredCredits", "MinElectiveCredits") FROM stdin;
\.


--
-- Data for Name: CurriculumCourses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CurriculumCourses" ("Id", "CurriculumId", "CourseId", "SemesterOrder") FROM stdin;
\.


--
-- Data for Name: Departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Faculties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Faculties" ("FacultyId", "FacultyName") FROM stdin;
1	Kinh t??? VTB
2	C??ng ngh??? th??ng tin
3	C?? kh??
4	Vi???n ????o t???o ch???t l?????ng cao
5	C?? b???n c?? s???
6	H??ng h???i
7	Ngo???i ng???
8	L?? lu???n ch??nh tr???
9	Qu???n tr??? t??i ch??nh
10	M??y t??u bi???n
11	??i???n- ??TTB
12	C??ng tr??nh th???y
13	????ng t??u
14	Vi???n M??i tr?????ng
15	Gi??o d???c th??? ch???t
16	IMET
\.


--
-- Data for Name: Lecturers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Majors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Majors" ("MajorId", "MajorName", "FacultyId") FROM stdin;
1	C??ng ngh??? th??ng tin	2
2	C??ng ngh??? ph???n m???m	2
3	K??? to??n	1
4	Lu???t h??ng h???i	6
5	??i???u khi???n t??u bi???n	6
6	Qu???n l?? h??ng h???i	6
7	Lu???t kinh doanh	6
8	Ti???ng anh th????ng m???i	7
\.


--
-- Data for Name: Permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Permissions" ("Id", "Code", "Name", "Description") FROM stdin;
8f18070d-85df-4e62-afd9-cdc2fa4de42f	ADMIN_ACCESS	Admin access	Access administrative actions
e549c233-2493-4f89-a0f8-dd615c4e5fc8	SURVEY_MANAGE	Manage surveys	Create and manage surveys
\.


--
-- Data for Name: RolePermissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RolePermissions" ("Id", "RoleId", "PermissionId", "IsGranted", "CreatedAt") FROM stdin;
57cccdb1-cf73-4410-8e78-ff87e9b7ffd1	4d7589ca-cadc-4cb6-8c4a-7833b1c45d00	e549c233-2493-4f89-a0f8-dd615c4e5fc8	t	2026-08-13 18:29:43.63452+00
74dd72dc-cffa-4bba-9a36-7bb97f499e5b	691801f9-55a9-4c1a-8061-9cfa85fcce78	e549c233-2493-4f89-a0f8-dd615c4e5fc8	t	2026-08-13 18:29:43.633489+00
fa8cbc22-9aae-4566-b87d-158f3bf0a86f	691801f9-55a9-4c1a-8061-9cfa85fcce78	8f18070d-85df-4e62-afd9-cdc2fa4de42f	t	2026-08-13 18:29:43.621886+00
\.


--
-- Data for Name: Roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Roles" ("Id", "Code", "Name", "Description", "IsSystem") FROM stdin;
4d7589ca-cadc-4cb6-8c4a-7833b1c45d00	SURVEY_ADMIN	Survey administrator	Survey administrator profile	t
691801f9-55a9-4c1a-8061-9cfa85fcce78	ADMIN	Administrator	System administrator	t
88bef4b2-0839-4860-8503-977ea88b000b	DEPARTMENT_MANAGER	Department manager	Department manager profile	t
f0dddcae-5dc3-4410-bbb2-0f08f4bc45d1	LECTURER	Lecturer	Lecturer profile	t
\.


--
-- Data for Name: SemesterSurveys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SemesterSurveys" ("SemesterSurveyId", "SemesterId", "SurveyTemplateId", "CreatedAt") FROM stdin;
2	2	1	2026-08-14 05:47:16.592547+00
\.


--
-- Data for Name: Semesters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Semesters" ("SemesterId", "SemesterName", "AcademicYearId") FROM stdin;
1	H???c k??? ph???	1
2	H???c k??? 1	1
3	H???c k??? 2	1
\.


--
-- Data for Name: SurveyQuestions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SurveyResponseAnswers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SurveyResponses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SurveyResponses" ("ResponseId", "CourseSectionSurveyId", "AdditionalComments", "Score", "SubmittedAt") FROM stdin;
2	2	Em kh??ng th??ch h???c c?? n??y	1.70	2026-08-14 05:49:27.697776+00
3	2	ch??n	1.00	2026-08-14 05:59:17.532667+00
4	67	\N	5.00	2026-08-14 15:52:23.280103+00
\.


--
-- Data for Name: SurveyTemplates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SurveyTemplates" ("SurveyTemplateId", "TemplateName", "AnswerScaleId", "CreatedAt") FROM stdin;
1	Kh???o s??t m???c ????? h??i l??ng c??c h???c ph???n h???c k??? I	1	2026-08-14 05:23:22.219328+00
\.


--
-- Data for Name: UserProfiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Users" ("Id", "GoogleSubject", "Email", "DisplayName", "AvatarUrl", "IsActive", "FirstLoginAt", "LastLoginAt", "CreatedAt", "UpdatedAt") FROM stdin;
8eb7a986-f206-4fd3-85fd-0f83ccbb5609	dev-sub-001	abc@vmu.edu.vn	Nguyen Van A	\N	t	2026-08-13 18:31:26.522184+00	2026-08-14 14:47:21.871513+00	2026-08-13 18:29:43.664789+00	2026-08-14 14:47:21.871513+00
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260812121538_InitialAuthSchema	9.0.10
20260812124523_MoveScopeToUserProfile	9.0.10
20260812130325_AddServerSideAuthSessions	9.0.10
20260813181448_AddCatalogEntities	9.0.10
20260813185205_AddCourseEntity	9.0.10
20260813192042_AddLecturerEntity	9.0.10
20260813194819_MakeLecturerEmailNullable	9.0.10
20260813203527_AddAcademicCalendarEntities	9.0.10
20260813210050_MoveLecturerIntoCourseSection	9.0.10
20260814045702_AddSurveyTemplateEntities	9.0.10
20260814053651_AddSurveyRunEntities	9.0.10
\.


--
-- Name: AcademicYears_AcademicYearId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AcademicYears_AcademicYearId_seq"', 1, true);


--
-- Name: AnswerScaleOptions_AnswerScaleOptionId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AnswerScaleOptions_AnswerScaleOptionId_seq"', 5, true);


--
-- Name: AnswerScales_AnswerScaleId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AnswerScales_AnswerScaleId_seq"', 1, true);


--
-- Name: CourseSectionSurveys_CourseSectionSurveyId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."CourseSectionSurveys_CourseSectionSurveyId_seq"', 106, true);


--
-- Name: CourseSections_CourseSectionId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."CourseSections_CourseSectionId_seq"', 105, true);


--
-- Name: Courses_CourseId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Courses_CourseId_seq"', 59, true);


--
-- Name: Curricula_CurriculumId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Curricula_CurriculumId_seq"', 1, false);


--
-- Name: CurriculumCourses_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."CurriculumCourses_Id_seq"', 1, false);


--
-- Name: Departments_DepartmentId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Departments_DepartmentId_seq"', 63, false);


--
-- Name: Faculties_FacultyId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Faculties_FacultyId_seq"', 16, true);


--
-- Name: Lecturers_LecturerId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Lecturers_LecturerId_seq"', 462, true);


--
-- Name: Majors_MajorId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Majors_MajorId_seq"', 8, true);


--
-- Name: SemesterSurveys_SemesterSurveyId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SemesterSurveys_SemesterSurveyId_seq"', 2, true);


--
-- Name: Semesters_SemesterId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Semesters_SemesterId_seq"', 3, true);


--
-- Name: SurveyQuestions_QuestionId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SurveyQuestions_QuestionId_seq"', 30, true);


--
-- Name: SurveyResponses_ResponseId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SurveyResponses_ResponseId_seq"', 4, true);


--
-- Name: SurveyTemplates_SurveyTemplateId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SurveyTemplates_SurveyTemplateId_seq"', 1, true);


--
-- Name: AcademicYears PK_AcademicYears; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AcademicYears"
    ADD CONSTRAINT "PK_AcademicYears" PRIMARY KEY ("AcademicYearId");


--
-- Name: AnswerScaleOptions PK_AnswerScaleOptions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AnswerScaleOptions"
    ADD CONSTRAINT "PK_AnswerScaleOptions" PRIMARY KEY ("AnswerScaleOptionId");


--
-- Name: AnswerScales PK_AnswerScales; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AnswerScales"
    ADD CONSTRAINT "PK_AnswerScales" PRIMARY KEY ("AnswerScaleId");


--
-- Name: AuthAuditLogs PK_AuthAuditLogs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuthAuditLogs"
    ADD CONSTRAINT "PK_AuthAuditLogs" PRIMARY KEY ("Id");


--
-- Name: AuthSessions PK_AuthSessions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuthSessions"
    ADD CONSTRAINT "PK_AuthSessions" PRIMARY KEY ("Id");


--
-- Name: CourseSectionSurveys PK_CourseSectionSurveys; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseSectionSurveys"
    ADD CONSTRAINT "PK_CourseSectionSurveys" PRIMARY KEY ("CourseSectionSurveyId");


--
-- Name: CourseSections PK_CourseSections; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseSections"
    ADD CONSTRAINT "PK_CourseSections" PRIMARY KEY ("CourseSectionId");


--
-- Name: Courses PK_Courses; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "PK_Courses" PRIMARY KEY ("CourseId");


--
-- Name: Curricula PK_Curricula; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Curricula"
    ADD CONSTRAINT "PK_Curricula" PRIMARY KEY ("CurriculumId");


--
-- Name: CurriculumCourses PK_CurriculumCourses; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CurriculumCourses"
    ADD CONSTRAINT "PK_CurriculumCourses" PRIMARY KEY ("Id");


--
-- Name: Departments PK_Departments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Departments"
    ADD CONSTRAINT "PK_Departments" PRIMARY KEY ("DepartmentId");


--
-- Name: Faculties PK_Faculties; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Faculties"
    ADD CONSTRAINT "PK_Faculties" PRIMARY KEY ("FacultyId");


--
-- Name: Lecturers PK_Lecturers; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lecturers"
    ADD CONSTRAINT "PK_Lecturers" PRIMARY KEY ("LecturerId");


--
-- Name: Majors PK_Majors; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Majors"
    ADD CONSTRAINT "PK_Majors" PRIMARY KEY ("MajorId");


--
-- Name: Permissions PK_Permissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permissions"
    ADD CONSTRAINT "PK_Permissions" PRIMARY KEY ("Id");


--
-- Name: RolePermissions PK_RolePermissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RolePermissions"
    ADD CONSTRAINT "PK_RolePermissions" PRIMARY KEY ("Id");


--
-- Name: Roles PK_Roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Roles"
    ADD CONSTRAINT "PK_Roles" PRIMARY KEY ("Id");


--
-- Name: SemesterSurveys PK_SemesterSurveys; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SemesterSurveys"
    ADD CONSTRAINT "PK_SemesterSurveys" PRIMARY KEY ("SemesterSurveyId");


--
-- Name: Semesters PK_Semesters; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Semesters"
    ADD CONSTRAINT "PK_Semesters" PRIMARY KEY ("SemesterId");


--
-- Name: SurveyQuestions PK_SurveyQuestions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyQuestions"
    ADD CONSTRAINT "PK_SurveyQuestions" PRIMARY KEY ("QuestionId");


--
-- Name: SurveyResponseAnswers PK_SurveyResponseAnswers; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyResponseAnswers"
    ADD CONSTRAINT "PK_SurveyResponseAnswers" PRIMARY KEY ("ResponseId", "QuestionId");


--
-- Name: SurveyResponses PK_SurveyResponses; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyResponses"
    ADD CONSTRAINT "PK_SurveyResponses" PRIMARY KEY ("ResponseId");


--
-- Name: SurveyTemplates PK_SurveyTemplates; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyTemplates"
    ADD CONSTRAINT "PK_SurveyTemplates" PRIMARY KEY ("SurveyTemplateId");


--
-- Name: UserProfiles PK_UserProfiles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfiles"
    ADD CONSTRAINT "PK_UserProfiles" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_AcademicYears_AcademicYearName; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_AcademicYears_AcademicYearName" ON public."AcademicYears" USING btree ("AcademicYearName");


--
-- Name: IX_AnswerScaleOptions_AnswerScaleId_Value; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_AnswerScaleOptions_AnswerScaleId_Value" ON public."AnswerScaleOptions" USING btree ("AnswerScaleId", "Value");


--
-- Name: IX_AuthAuditLogs_Event_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuthAuditLogs_Event_CreatedAt" ON public."AuthAuditLogs" USING btree ("Event", "CreatedAt");


--
-- Name: IX_AuthAuditLogs_ProfileId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuthAuditLogs_ProfileId" ON public."AuthAuditLogs" USING btree ("ProfileId");


--
-- Name: IX_AuthAuditLogs_UserId_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuthAuditLogs_UserId_CreatedAt" ON public."AuthAuditLogs" USING btree ("UserId", "CreatedAt");


--
-- Name: IX_AuthSessions_ActiveProfileId_RevokedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuthSessions_ActiveProfileId_RevokedAt" ON public."AuthSessions" USING btree ("ActiveProfileId", "RevokedAt");


--
-- Name: IX_AuthSessions_UserId_RevokedAt_ExpiresAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AuthSessions_UserId_RevokedAt_ExpiresAt" ON public."AuthSessions" USING btree ("UserId", "RevokedAt", "ExpiresAt");


--
-- Name: IX_CourseSectionSurveys_CourseSectionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CourseSectionSurveys_CourseSectionId" ON public."CourseSectionSurveys" USING btree ("CourseSectionId");


--
-- Name: IX_CourseSectionSurveys_LinkToken; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_CourseSectionSurveys_LinkToken" ON public."CourseSectionSurveys" USING btree ("LinkToken");


--
-- Name: IX_CourseSectionSurveys_SemesterSurveyId_CourseSectionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_CourseSectionSurveys_SemesterSurveyId_CourseSectionId" ON public."CourseSectionSurveys" USING btree ("SemesterSurveyId", "CourseSectionId");


--
-- Name: IX_CourseSections_CourseId_SemesterId_SectionName; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_CourseSections_CourseId_SemesterId_SectionName" ON public."CourseSections" USING btree ("CourseId", "SemesterId", "SectionName");


--
-- Name: IX_CourseSections_LecturerId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CourseSections_LecturerId" ON public."CourseSections" USING btree ("LecturerId");


--
-- Name: IX_CourseSections_SemesterId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CourseSections_SemesterId" ON public."CourseSections" USING btree ("SemesterId");


--
-- Name: IX_Courses_CourseCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Courses_CourseCode" ON public."Courses" USING btree ("CourseCode");


--
-- Name: IX_Courses_DepartmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Courses_DepartmentId" ON public."Courses" USING btree ("DepartmentId");


--
-- Name: IX_Courses_FacultyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Courses_FacultyId" ON public."Courses" USING btree ("FacultyId");


--
-- Name: IX_Courses_PrerequisiteCourseId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Courses_PrerequisiteCourseId" ON public."Courses" USING btree ("PrerequisiteCourseId");


--
-- Name: IX_Curricula_MajorId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Curricula_MajorId" ON public."Curricula" USING btree ("MajorId");


--
-- Name: IX_CurriculumCourses_CourseId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CurriculumCourses_CourseId" ON public."CurriculumCourses" USING btree ("CourseId");


--
-- Name: IX_CurriculumCourses_CurriculumId_CourseId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_CurriculumCourses_CurriculumId_CourseId" ON public."CurriculumCourses" USING btree ("CurriculumId", "CourseId");


--
-- Name: IX_Departments_FacultyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Departments_FacultyId" ON public."Departments" USING btree ("FacultyId");


--
-- Name: IX_Faculties_FacultyName; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Faculties_FacultyName" ON public."Faculties" USING btree ("FacultyName");


--
-- Name: IX_Lecturers_DepartmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Lecturers_DepartmentId" ON public."Lecturers" USING btree ("DepartmentId");


--
-- Name: IX_Lecturers_Email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Lecturers_Email" ON public."Lecturers" USING btree ("Email");


--
-- Name: IX_Lecturers_FacultyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Lecturers_FacultyId" ON public."Lecturers" USING btree ("FacultyId");


--
-- Name: IX_Majors_FacultyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Majors_FacultyId" ON public."Majors" USING btree ("FacultyId");


--
-- Name: IX_Permissions_Code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Permissions_Code" ON public."Permissions" USING btree ("Code");


--
-- Name: IX_RolePermissions_PermissionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_RolePermissions_PermissionId" ON public."RolePermissions" USING btree ("PermissionId");


--
-- Name: IX_RolePermissions_RoleId_PermissionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_RolePermissions_RoleId_PermissionId" ON public."RolePermissions" USING btree ("RoleId", "PermissionId");


--
-- Name: IX_Roles_Code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Roles_Code" ON public."Roles" USING btree ("Code");


--
-- Name: IX_SemesterSurveys_SemesterId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SemesterSurveys_SemesterId" ON public."SemesterSurveys" USING btree ("SemesterId");


--
-- Name: IX_SemesterSurveys_SurveyTemplateId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SemesterSurveys_SurveyTemplateId" ON public."SemesterSurveys" USING btree ("SurveyTemplateId");


--
-- Name: IX_Semesters_AcademicYearId_SemesterName; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Semesters_AcademicYearId_SemesterName" ON public."Semesters" USING btree ("AcademicYearId", "SemesterName");


--
-- Name: IX_SurveyQuestions_SurveyTemplateId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SurveyQuestions_SurveyTemplateId" ON public."SurveyQuestions" USING btree ("SurveyTemplateId");


--
-- Name: IX_SurveyResponseAnswers_QuestionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SurveyResponseAnswers_QuestionId" ON public."SurveyResponseAnswers" USING btree ("QuestionId");


--
-- Name: IX_SurveyResponses_CourseSectionSurveyId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SurveyResponses_CourseSectionSurveyId" ON public."SurveyResponses" USING btree ("CourseSectionSurveyId");


--
-- Name: IX_SurveyTemplates_AnswerScaleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SurveyTemplates_AnswerScaleId" ON public."SurveyTemplates" USING btree ("AnswerScaleId");


--
-- Name: IX_UserProfiles_ProfileCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_UserProfiles_ProfileCode" ON public."UserProfiles" USING btree ("ProfileCode");


--
-- Name: IX_UserProfiles_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_UserProfiles_RoleId" ON public."UserProfiles" USING btree ("RoleId");


--
-- Name: IX_UserProfiles_UserId_IsActive; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_UserProfiles_UserId_IsActive" ON public."UserProfiles" USING btree ("UserId", "IsActive");


--
-- Name: IX_UserProfiles_UserId_RoleId_OrganizationUnitCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_UserProfiles_UserId_RoleId_OrganizationUnitCode" ON public."UserProfiles" USING btree ("UserId", "RoleId", "OrganizationUnitCode");


--
-- Name: IX_Users_Email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Users_Email" ON public."Users" USING btree ("Email");


--
-- Name: IX_Users_GoogleSubject; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Users_GoogleSubject" ON public."Users" USING btree ("GoogleSubject");


--
-- Name: UX_UserProfiles_UserId_ActiveDefault; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UX_UserProfiles_UserId_ActiveDefault" ON public."UserProfiles" USING btree ("UserId") WHERE (("IsActive" = true) AND ("IsDefault" = true));


--
-- Name: SurveyQuestions trg_limit_survey_questions; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_limit_survey_questions BEFORE INSERT ON public."SurveyQuestions" FOR EACH ROW EXECUTE FUNCTION public.fn_limit_survey_questions();


--
-- Name: AnswerScaleOptions FK_AnswerScaleOptions_AnswerScales_AnswerScaleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AnswerScaleOptions"
    ADD CONSTRAINT "FK_AnswerScaleOptions_AnswerScales_AnswerScaleId" FOREIGN KEY ("AnswerScaleId") REFERENCES public."AnswerScales"("AnswerScaleId") ON DELETE CASCADE;


--
-- Name: AuthAuditLogs FK_AuthAuditLogs_UserProfiles_ProfileId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuthAuditLogs"
    ADD CONSTRAINT "FK_AuthAuditLogs_UserProfiles_ProfileId" FOREIGN KEY ("ProfileId") REFERENCES public."UserProfiles"("Id") ON DELETE SET NULL;


--
-- Name: AuthAuditLogs FK_AuthAuditLogs_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuthAuditLogs"
    ADD CONSTRAINT "FK_AuthAuditLogs_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE SET NULL;


--
-- Name: AuthSessions FK_AuthSessions_UserProfiles_ActiveProfileId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuthSessions"
    ADD CONSTRAINT "FK_AuthSessions_UserProfiles_ActiveProfileId" FOREIGN KEY ("ActiveProfileId") REFERENCES public."UserProfiles"("Id") ON DELETE CASCADE;


--
-- Name: AuthSessions FK_AuthSessions_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuthSessions"
    ADD CONSTRAINT "FK_AuthSessions_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: CourseSectionSurveys FK_CourseSectionSurveys_CourseSections_CourseSectionId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseSectionSurveys"
    ADD CONSTRAINT "FK_CourseSectionSurveys_CourseSections_CourseSectionId" FOREIGN KEY ("CourseSectionId") REFERENCES public."CourseSections"("CourseSectionId") ON DELETE CASCADE;


--
-- Name: CourseSectionSurveys FK_CourseSectionSurveys_SemesterSurveys_SemesterSurveyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseSectionSurveys"
    ADD CONSTRAINT "FK_CourseSectionSurveys_SemesterSurveys_SemesterSurveyId" FOREIGN KEY ("SemesterSurveyId") REFERENCES public."SemesterSurveys"("SemesterSurveyId") ON DELETE CASCADE;


--
-- Name: CourseSections FK_CourseSections_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseSections"
    ADD CONSTRAINT "FK_CourseSections_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("CourseId") ON DELETE CASCADE;


--
-- Name: CourseSections FK_CourseSections_Lecturers_LecturerId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseSections"
    ADD CONSTRAINT "FK_CourseSections_Lecturers_LecturerId" FOREIGN KEY ("LecturerId") REFERENCES public."Lecturers"("LecturerId") ON DELETE RESTRICT;


--
-- Name: CourseSections FK_CourseSections_Semesters_SemesterId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseSections"
    ADD CONSTRAINT "FK_CourseSections_Semesters_SemesterId" FOREIGN KEY ("SemesterId") REFERENCES public."Semesters"("SemesterId") ON DELETE CASCADE;


--
-- Name: Courses FK_Courses_Courses_PrerequisiteCourseId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "FK_Courses_Courses_PrerequisiteCourseId" FOREIGN KEY ("PrerequisiteCourseId") REFERENCES public."Courses"("CourseId") ON DELETE RESTRICT;


--
-- Name: Courses FK_Courses_Departments_DepartmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "FK_Courses_Departments_DepartmentId" FOREIGN KEY ("DepartmentId") REFERENCES public."Departments"("DepartmentId") ON DELETE RESTRICT;


--
-- Name: Courses FK_Courses_Faculties_FacultyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "FK_Courses_Faculties_FacultyId" FOREIGN KEY ("FacultyId") REFERENCES public."Faculties"("FacultyId") ON DELETE RESTRICT;


--
-- Name: Curricula FK_Curricula_Majors_MajorId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Curricula"
    ADD CONSTRAINT "FK_Curricula_Majors_MajorId" FOREIGN KEY ("MajorId") REFERENCES public."Majors"("MajorId") ON DELETE CASCADE;


--
-- Name: CurriculumCourses FK_CurriculumCourses_Courses_CourseId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CurriculumCourses"
    ADD CONSTRAINT "FK_CurriculumCourses_Courses_CourseId" FOREIGN KEY ("CourseId") REFERENCES public."Courses"("CourseId") ON DELETE CASCADE;


--
-- Name: CurriculumCourses FK_CurriculumCourses_Curricula_CurriculumId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CurriculumCourses"
    ADD CONSTRAINT "FK_CurriculumCourses_Curricula_CurriculumId" FOREIGN KEY ("CurriculumId") REFERENCES public."Curricula"("CurriculumId") ON DELETE CASCADE;


--
-- Name: Departments FK_Departments_Faculties_FacultyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Departments"
    ADD CONSTRAINT "FK_Departments_Faculties_FacultyId" FOREIGN KEY ("FacultyId") REFERENCES public."Faculties"("FacultyId") ON DELETE SET NULL;


--
-- Name: Lecturers FK_Lecturers_Departments_DepartmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lecturers"
    ADD CONSTRAINT "FK_Lecturers_Departments_DepartmentId" FOREIGN KEY ("DepartmentId") REFERENCES public."Departments"("DepartmentId") ON DELETE RESTRICT;


--
-- Name: Lecturers FK_Lecturers_Faculties_FacultyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lecturers"
    ADD CONSTRAINT "FK_Lecturers_Faculties_FacultyId" FOREIGN KEY ("FacultyId") REFERENCES public."Faculties"("FacultyId") ON DELETE RESTRICT;


--
-- Name: Majors FK_Majors_Faculties_FacultyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Majors"
    ADD CONSTRAINT "FK_Majors_Faculties_FacultyId" FOREIGN KEY ("FacultyId") REFERENCES public."Faculties"("FacultyId") ON DELETE CASCADE;


--
-- Name: RolePermissions FK_RolePermissions_Permissions_PermissionId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RolePermissions"
    ADD CONSTRAINT "FK_RolePermissions_Permissions_PermissionId" FOREIGN KEY ("PermissionId") REFERENCES public."Permissions"("Id") ON DELETE CASCADE;


--
-- Name: RolePermissions FK_RolePermissions_Roles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RolePermissions"
    ADD CONSTRAINT "FK_RolePermissions_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."Roles"("Id") ON DELETE CASCADE;


--
-- Name: SemesterSurveys FK_SemesterSurveys_Semesters_SemesterId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SemesterSurveys"
    ADD CONSTRAINT "FK_SemesterSurveys_Semesters_SemesterId" FOREIGN KEY ("SemesterId") REFERENCES public."Semesters"("SemesterId") ON DELETE CASCADE;


--
-- Name: SemesterSurveys FK_SemesterSurveys_SurveyTemplates_SurveyTemplateId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SemesterSurveys"
    ADD CONSTRAINT "FK_SemesterSurveys_SurveyTemplates_SurveyTemplateId" FOREIGN KEY ("SurveyTemplateId") REFERENCES public."SurveyTemplates"("SurveyTemplateId") ON DELETE RESTRICT;


--
-- Name: Semesters FK_Semesters_AcademicYears_AcademicYearId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Semesters"
    ADD CONSTRAINT "FK_Semesters_AcademicYears_AcademicYearId" FOREIGN KEY ("AcademicYearId") REFERENCES public."AcademicYears"("AcademicYearId") ON DELETE CASCADE;


--
-- Name: SurveyQuestions FK_SurveyQuestions_SurveyTemplates_SurveyTemplateId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyQuestions"
    ADD CONSTRAINT "FK_SurveyQuestions_SurveyTemplates_SurveyTemplateId" FOREIGN KEY ("SurveyTemplateId") REFERENCES public."SurveyTemplates"("SurveyTemplateId") ON DELETE CASCADE;


--
-- Name: SurveyResponseAnswers FK_SurveyResponseAnswers_SurveyQuestions_QuestionId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyResponseAnswers"
    ADD CONSTRAINT "FK_SurveyResponseAnswers_SurveyQuestions_QuestionId" FOREIGN KEY ("QuestionId") REFERENCES public."SurveyQuestions"("QuestionId") ON DELETE RESTRICT;


--
-- Name: SurveyResponseAnswers FK_SurveyResponseAnswers_SurveyResponses_ResponseId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyResponseAnswers"
    ADD CONSTRAINT "FK_SurveyResponseAnswers_SurveyResponses_ResponseId" FOREIGN KEY ("ResponseId") REFERENCES public."SurveyResponses"("ResponseId") ON DELETE CASCADE;


--
-- Name: SurveyResponses FK_SurveyResponses_CourseSectionSurveys_CourseSectionSurveyId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyResponses"
    ADD CONSTRAINT "FK_SurveyResponses_CourseSectionSurveys_CourseSectionSurveyId" FOREIGN KEY ("CourseSectionSurveyId") REFERENCES public."CourseSectionSurveys"("CourseSectionSurveyId") ON DELETE CASCADE;


--
-- Name: SurveyTemplates FK_SurveyTemplates_AnswerScales_AnswerScaleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SurveyTemplates"
    ADD CONSTRAINT "FK_SurveyTemplates_AnswerScales_AnswerScaleId" FOREIGN KEY ("AnswerScaleId") REFERENCES public."AnswerScales"("AnswerScaleId") ON DELETE RESTRICT;


--
-- Name: UserProfiles FK_UserProfiles_Roles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfiles"
    ADD CONSTRAINT "FK_UserProfiles_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."Roles"("Id") ON DELETE RESTRICT;


--
-- Name: UserProfiles FK_UserProfiles_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfiles"
    ADD CONSTRAINT "FK_UserProfiles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict OyI7cjQpVzHO43kWxchXnhG3BTGdjQ4eYy34t3bTodNdskqobhgsFo5uv0m4hlh

